{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<!-- div for centering main content on page -->
<div class="log-center">
    <!-- signup form -->
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        <h1>{% trans "Sign Up" %}</h1>
        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="btn-center">
        <button class="btn-rounded" type="submit">{% trans "Register" %} &raquo;</button>
        </div>
    </form>
</div>

{% endblock %}
