/* navigation styling */

.nav {
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

.active {
    color: blue;
}

.nav-link {
    color: white;
}

/* div styling */

div {
    padding: 10px;
}

/* home styling */

/* #carousel-pad {
    padding: 10px;
    margin: auto;
}

.carousel-item {
    height: 50%;
} */