/* background */

body {
    background-color: rgb(216, 216, 216);
}

/* navigation styling */

.nav {
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

.active {
    color: blue;
}

.nav-link {
    color: white;
}

/* div styling */

div {
    padding: 10px;
}

/* home styling */

/* #carousel-pad {
    padding: 10px;
    margin: auto;
}

.carousel-item {
    height: 50%;
} */

/* library styling */

table {
    border: 2px rgb(0, 0, 0) solid;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

th {
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(72, 247, 223);
}

.th-1 {
    width: 10%;
}

.th-2 {
    width: 24%;
}

.th-3 {
    width: 13%;
}

td {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
}

tr:hover {
    background-color: #b6e7e7;
}

/* form styling */

.form-center {
    display:flex;
    justify-content: center;
}

form {
    background-color: beige;
    padding: 15px;
    margin: 15px;
    border-radius: 25px;
    box-shadow: 3px 3px 3px 3px black;
}

.pad {
    margin: 10px;
}

/* button styling */

#submit-btn {
    display: block;
    margin: 0 auto;
}

.btn-rounded {
    border-radius: 20px;
    box-shadow: 2px 2px 3px 3px rgb(0, 0, 0);
    margin: auto;
}

/* login/logout/register styling */

.log-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}