{% extends './base.html' %}

{% block title %}
Gamers Library | Add Games
{% endblock %}

{% block content %}
    <h1>Add a Game</h1>

    <!-- add form here for user input -->
    <div class="form-center">
        <form method="POST" action="/library/">
            {% csrf_token %}
            <label class="pad" for="title">Game Title:</label> <br>
            <input class="pad" type="text" id="title" name="title"> <br>
            <label class="pad" for="image">Image:</label> <br>
            <input class="pad" type="file" id="image" name="image"> <br>
            <label class="pad" for="description">Description:</label> <br>
            <textarea class="pad" name="description" id="description" cols="60" rows="5"></textarea> <br>
            <label class="pad" for="genre">Primary Genre:</label>
            <select class="pad" name="genre" id="genre">
                <option value="shooter">Shooter</option>
                <option value="action_adv">Action Adventure</option>
                <option value="moba">Moba</option>
                <option value="racing">Racing</option>
                <option value="sim">Simulation</option>
                <option value="battle_royale">Battle Royale</option>
                <option value="rts">Real-time Strategy</option>
                <option value="puzzle_plat">Puzzle Platform</option>
                <option value="sports">Sports</option>
                <option value="mmo">MMO</option>
                <option value="single">Singleplayer</option>
                <option value="coop">Co-op</option>
                <option value="rpg">Role-playing Game</option>
            </select> <br>
            <label class="pad" for="release_date">Release Date:</label>
            <input class="pad" type="month" id="release_date" name="release_date">
            <br>
            <input class="pad" id="submit-btn" type="submit" value="Add Game">
        </form>
    </div>

{% endblock %}